# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build



*.map
*.asm
*.rel
*.ihx
*.hex
*.mem
*.o
*.d
*.sym
*.lk
*.lst
*.rst
*.cdb
*.bin
Synthesizer/CompressorGenerated.stamp
*.ipch
.DS_Store
STC8H-cn.pdf
*.pdf
